div#ext-table
  div.span2
    div
      border: solid
      height: 40px
      margin: 2px
      text-indent: 5px
      font-size: 12

div.SS
  background-color: #9acde7
div.EA
  background-color: #f9e3aa
div.IT
  background-color: #dfecaa

